*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: white;
    color: black;
}

.navbar-brand{
    font-size: 40px;
}

.navbar-nav{
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 100px;
    flex-wrap: wrap;
}

.nav-item{
    align-items: center;
}

#navbarNavAltMarkup{
    position: absolute;
    left: 330px;
}

.navbar-brand{
    position: absolute;
    top: 15px;
    left: 625px;
    font-weight: bold;
}   

.the{
    display: inline-block;
    transform: rotate(270deg);
    background-color: black;
    color: white;
    font-weight: bold;
}

.hr{
    width: 100%;
    border: 2px soliq black;
}
/*blockhome  */

.block_img{
    width: 200px;
}

.block{
    display: flex;
    justify-content: space-between;

}

/* .block_img_home{

    width: 200px;
} */

/* home style */

.home_top{
    display: flex;
    

}

.top_img_home{
    width: 810px;
    height: 558px;
    border: 8px solid white;
    border-radius: 25px;
}

.top_img_home_1{
    width: 520px;
    height: 280px;
    border: 8px solid white;
    border-radius: 25px;
    
}

.Extra_div_home{
    display: flex;
    flex-direction: column;
}

/* home */

.blockhome_middle{
    display: flex;
}